<!DOCTYPE HTML>
<!--
	Verti by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
    <head>
        <title>{% block title %}Créez vos concours de photo !{% endblock %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {% block stylesheets %}
            {% stylesheets '../app/Resources/public/css/*' %}
            <link rel="stylesheet" type="text/css" charset="UTF-8" media="all" href="{{ asset_url }}"/>
            {% endstylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome.min.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/contestcontest/css/custom.style.css') }}" />
        {% endblock %}

        {% block javascripts %}
            {% javascripts '../app/Resources/public/js/*' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </head>
    <body class="homepage">
    <div id="page-wrapper">
        {% include '::_header.html.twig' %}

        <div id="main-wrapper">
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </div>

        {% include '::_footer.html.twig' %}
    </div>
    </body>
</html>