{% extends '::without_sidebar.html.twig' %}
{% block full_content %}
    {% if contests|length > 0 %}
        <h2>Il y a des égalités sur un ou plusieurs de vos concours... A vous de les départager !</h2>
        <ul>
        {% for contest in contests %}
            <li>
                <a href="{{ url('contest_view_winner_detail', {slug: contest.slug}) }}">{{ contest.title }}</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <h2>Pas de gagnants à valider ou à départager</h2>
    {% endif %}
{% endblock %}