{% extends "::without_sidebar.html.twig" %}

{% block full_content %}
    {% if winnerImage is defined %}
        <p>L'image gagnante a été postée par : {{ winnerImage.owner.email }}</p>
        <img src="{{ winnerImage.webPath }}" alt="{{ winnerImage }}" />
        <p>Félicitations !</p>
    {% else %}
        Le concours n'est pas terminé !
    {% endif %}
{% endblock %}
