{% extends "::base.html.twig" %}

{% block content %}
    <!-- Main -->
    <div id="main-wrapper">
        <div class="container">
            <div id="content">
                {% include "FOSUserBundle:Registration:register_content.html.twig" %}
            </div>
        </div>
    </div>
{% endblock %}
