{% extends "::without_sidebar.html.twig" %}

{% block full_content %}
    {% if error is not defined %}
        Merci d'avoir voté !
    {% else %}
        Vous avez déjà voté pour cette photo !
    {% endif %}

{% block content %}
    {% if error is not defined %}
        Merci d'avoir voté !
    {% else %}
        Vous avez déjà voté pour cette photo !
    {% endif %}
    <p><a href="{{ url('contest_list') }}">Retourner à la liste des concours</a></p>
    <p><a href="{{ url('contest_gallery', {slug:image.contest.slug}) }}">Retourner à la gallerie</a></p>
{% endblock %}
